<div class = 'otherPages'> 

<h1 class = 'pageIntro'> DESTINATIONS </h1>
<p class = 'pageDescription'> Here is a list of awesome places to go kayaking and backpacking! </p>

<div class = 'container'> 
<div class="col-sm-7 col-sm-offset-1">
<form method = 'GET' action = ''> 
<div class="col-sm-6"> 
 Destination type (kayaking or backpacking):<input type = 'text' name = 'typeFiltered'> 
 </div> 
 <div class="col-sm-12">
 	<input type = 'submit' value = 'Filter'>
  </div> 
</form>
</div> 
</div> 


<h1> HELLO WECOME TO DESTINATIONS PAGE </h1>

<form method = 'POST' action = '/addDestination'> 
Location: <input type = 'text' name = 'destinationLocation'> 
Description: <input type = 'text' name = 'destinationDescription'>
URL: <input type = 'text' name = 'destinationUrl'> 
(Kayaking or Backpacking): <input type = 'text' name = 'destinationType'> 
<input type = 'submit' value = 'Add Kayak Item'> 
</form>

{{#each destinationList}}

{{#each places}}
<p>{{this.location}}</p>
<p> {{this.description}} </p>
<img src = {{this.url}} style="width:168px;height:128px;"> 

<p> {{this.type}} </p>



{{/each}}
{{/each}}


<!-- 

<div class = 'thisForm'> 
<div class = 'container'> 
<div class="col-sm-7 col-sm-offset-1">
<form method = 'POST' class="submit-form" name="submit-form" action = '/addDestination'>
<div class="row">
<div class="col-sm-6"> 
Location:        <input type = 'text'  id = "destinationLocation" name = 'destinationLocation'> 
</div>

<div class="col-sm-6">
Description: <input type = 'text' id = 'destinationDescription' name = 'destinationDescription'>
</div>
<div class="col-sm-12">
URL:         <input type = 'text' id = 'destinationUrl' name = 'destinationUrl'> 
</div>
<div class="col-sm-12">
<input type = 'submit' id = 'destinationSubmit' value = 'Add Destination'> 
</div>
</div>
</form>
</div>
</div>
</div>

<p id = "error-message-destination"> </p>

<div class = 'items'> 
{{#each destinationList}}

{{#each place}}
<div class = 'eachItem'> 
<p> {{this.type}} {{this.location}}  </p>
<img src = {{this.url}} style="width:168px;height:128px;"> 
<p> {{this.description}} </p>
{{/each}}
</div>
{{/each}}
</div> 
</div> 

<div id="map"></div> 

--> 

<script type="text/javascript" src="../js/externalDestination.js"></script>    <!-- form validation-->






