<div class = 'otherPages'> 

<h1 class = 'pageIntro'> Let's go SEA KAYAKING </h1>
<p class = 'pageDescription> Here is a list of everything you will need to take on your sea kayaking trip! Feel free to add equipment! </p> 

<div class = 'thisForm'> 
<div class = 'container'> 
<div class="col-sm-7 col-sm-offset-1">
<form method = 'POST' class="submit-form" name="submit-form" action = '/addKayaking'>
<div class="row">
<div class="col-sm-6"> 
Name:        <input type = 'text'  id = "kayakName" name = 'kayakName'> 
</div>
<div class="col-sm-6">
Quantity:    <input type = 'text' id = 'kayakQuantity' name = 'kayakQuantity'>
</div>
<div class="col-sm-6">
Price:       <input type = 'text' id = 'kayakPrice' name = 'kayakPrice'> 
</div>
<div class="col-sm-6">
Description: <input type = 'text' id = 'kayakDescription' name = 'kayakDescription'>
</div>
<div class="col-sm-12">
URL:         <input type = 'text' id = 'kayakUrl' name = 'kayakUrl'> 
</div>
<div class="col-sm-12">
<input type = 'submit' id = 'kayakSubmit' value = 'Add Kayak Item'> 
</div>
</div>
</form>
</div>
</div>
</div>

<p id = "error-message"> </p>



<div class = 'items'>
{{#each kayakList}}


{{#each kayakEquipment}}
<div class = 'eachItem'> 
<p>  {{this.quantity}} {{this.name}} {{this.price}} </p>



<img src = {{this.url}} style="width:128px;height:128px;"> 
<p> {{this.description}} </p>

{{/each}}
</div>
{{/each}}

</div>

</div>


<script type="text/javascript" src="../js/external.js"></script>    <!-- form validation-->




