


<h1> HELLO WECOME TO SEA KAYAKING PAGE </h1>

<div class = 'container'> 
<div class="col-sm-7 col-sm-offset-1">
<form method = 'POST' action = '/addKayaking'>
<div class="row">
<div class="col-sm-6"> 
Name:        <input type = 'text'  id = "kayakName" name = 'kayakName'> 
</div>
<div class="col-sm-6">
Quantity:    <input type = 'text' id = 'kayakQuantity' name = 'kayakQuantity'>
</div>
<div class="col-sm-6">
Price:       <input type = 'text' id = 'kayakPrice' name = 'kayakPrice'> 
</div>
<div class="col-sm-6">
Description: <input type = 'text' id = 'kayakDescription' name = 'kayakDescription'>
</div>
<div class="col-sm-12">
URL:         <input type = 'text' id = 'kayakUrl' name = 'kayakUrl'> 
</div>
<div class="col-sm-12">
<input type = 'submit' class = 'btn-submit' value = 'Add Kayak Item'> 
</div>
</div>
</form>
</div>
</div>

{{#each kayakList}}

{{#each kayakEquipment}}
<p>{{this.name}}</p>
<p> {{this.quantity}} </p>
<p> {{this.price}} </p>
<p> {{this.description}} </p>
<img src = {{this.url}} style="width:128px;height:128px;"> 

{{/each}}
{{/each}}





